<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977295572970-g9h9d1a4mo3qvfkn5o7lmhu3di2e0oaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977295572970-g9h9d1a4mo3qvfkn5o7lmhu3di2e0oaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBW6lhPeyY5Rsh0ce9EZddKYKjYPb11vP4</string>
	<key>GCM_SENDER_ID</key>
	<string>977295572970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SNC</string>
	<key>PROJECT_ID</key>
	<string>segment-native-test</string>
	<key>STORAGE_BUCKET</key>
	<string>segment-native-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977295572970:ios:ee1c4a8c2c044109</string>
	<key>DATABASE_URL</key>
	<string>https://segment-native-test.firebaseio.com</string>
</dict>
</plist>